/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.coming-soon {
    place-items: center;
    justify-content: center;
    text-align: center;
}

.coming-soon-text {
 font-family: 'Inter',sans-serif;
  color: black;
  font-size: 73px;
  background: linear-gradient(to right, #6cbdfa, #126dff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

